:root{
    --primary-color: #FF7833;
    --secondary-color: #31333b;
}

body{
    display: flex;
    color: #e7e7e7;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main-header{
    width: 260px;
    background-color: var(--secondary-color);
}

.main{
    background-color: #444856;
}

a {
    color: inherit;
}